
// Extiende del layout
extends ./layout.jade

// block "contenido", el "contenido" es como se declaro
// en el layout.
block contenido
	h1 Bienvenidos al mundo de Lucario
	a(href="/login") Iniciar sesión
	a(href="/signup") Registro