
// Extiende del layout
extends ./layout.jade

// block "contenido", el "contenido" es como se declaro
// en el layout.
block contenido
	div(class="col-md-10 remove-float center-block text-center big-top-space")
		h1 Bienvenidos al mundo de Lucario
		a(href="/login" class="right-space") Iniciar sesión
		a(href="/signup") Registro